body{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 7px;
}
div{
    padding: 3ch;
}
h2{
    color: #0179aa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
hr{
    border-top: 5px solid #0179aa;
    border-radius: 3px;
    width: 650px;
    margin-left: 0ch;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
table, th, td{
    margin-left: 17%;
    border: 3px solid black;
    border-collapse: collapse;
}
table{
    border-left: 0ch;
    border-top: 0ch;
    border-right: 0ch;
    border-bottom: 0ch;
}
input{
    width: 30px;
    height: 30px;
    border: 0ch;
    text-align: center;
}
.vacio{
    border: 0ch;
    text-align: center;
    padding-right: 10px;
}
#pie{
    font-family:Arial Black, Helvetica, sans-serif;
}
button{
    border-radius: 15px;
    background: #0179aa;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px;
    margin-left: 15ch;
    width: 15ch;
}
button:disabled{
    background: #dddddd;
}
.pista{
    background-color: #b8d2fc;
    border: 3px solid black;
    border-radius: 5px;
}

