ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}
  
li {
  float: left;
}
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


table {
  margin: auto;
  margin-top: 10px;
  width: 90%;
  border-style: groove;
  border-color: #111;
  border-radius: 10px;
}

tr td {
  padding: 10px;
  text-align: center;
}

body {
  background-color: #76b852;
  margin: auto;
}

input {
  width: 10%;
  border-radius: 10px;
  margin-bottom: 10px;
}

select {
  margin-bottom: 10px;
}

.fotoPasatiempo{
  display: flex;
  justify-content: center;
}

.fotoCuestionario{
  display: flex;
  justify-content: center;
}

#navBar:hover{
  background-color: #ffaf27;
}

#principal {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  text-align: center;
}

/*-------------- FORMS ---------------*/
form {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  text-align: center;
  
}

input[type=text], select {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]{
  width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}